body {
	--m3-font: Figtree, system-ui, sans-serif;
	background-color: rgb(var(--m3-scheme-background));
	color: rgb(var(--m3-scheme-on-background));
}

html {
	min-height: 100vh;
	word-break: break-all; // prevent weird overflow for long things
}

body {
	margin: 0;
	padding: min(2%, 1em);
}

h1, h2, h3, p, dl, dt, dd {
	margin: 0;
}

#app {
	display: grid;
	gap: 0.5rem;
}

.vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.center {
	text-align: center;
}

label:has(.m3-container) {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

hr {
	width: 50%;
	border-color: rgba(var(--m3-scheme-primary) / 25%);
}